@import url(http://fonts.googleapis.com/css?family=Asap);

@headerBackground: #B0C7BF;
@lightishBlue: #DCF3F8;

/* Override some defaults */

html, body {
  background-color: @lightishBlue;
  /*DBG Modifications*/

  font-family: 'Asap', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0em;
  word-spacing: 0em;
  line-height: 1.4;
}
.navbar {
  margin-bottom: 0;
}

/**
.navbar .container{ 
  width:940px;
}
**/

.span10 {
}

.span2 {
}


.container-fluid {
    width:940px;
    margin-left: auto;
    margin-right: auto;
}

.container > footer {
  margin-top: 20px;
  text-align:center;
}
.container > footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 5px;
  margin: 0 -7px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 3px 3px 3px 3px;
     -moz-border-radius: 3px 3px 3px 3px;
          border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.15);
          box-shadow: 1px 1px 2px rgba(0,0,0,.15);

}

//The code tag -- a temporary fix until I can generalize it more.
.prettyprint.linenums {
    width:675px;
}
/* The white background sidebar wrapper */
.sidebar {
  background-color: #fff;
  padding: 5px;
  margin: 0 -7px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 3px 3px 3px 3px;
     -moz-border-radius: 3px 3px 3px 3px;
          border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.15);
          box-shadow: 1px 1px 2px rgba(0,0,0,.15);
}

.container > header-container {
    margin-left: auto;
    margin-right: auto;
    width:940px;
}

/* Page header tweaks */
.page-header {
  background-color: @headerBackground;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}

/* Site header */
.site-header {
  background-color: @headerBackground;
  padding: 5px;
  margin: 7px -7px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 3px 3px 3px 3px;
     -moz-border-radius: 3px 3px 3px 3px;
          border-radius: 3px 3px 3px 3px;
  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.15);
          box-shadow: 1px 1px 2px rgba(0,0,0,.15);
}
/* posts index */
.post > h3.title {
  position:relative;
  padding-top:10px;
  border-top:3px solid #eee;
}
.post > h3.title span.date { 
  position:absolute;
  right:0;
  font-size:3em
}
.post > .more {
  margin:10px 0;
  text-align:left;
}

/* tag_box ======================================================== */

.tag_box {
  list-style:none;
  margin:0;
  padding:5px 0 ;
  overflow:hidden;
}
.tag_box li {
  line-height:28px;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color:#005F6B;
  border-radius: 3px;
  text-decoration:none;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}
